.ad{
	background-image:url("https://www.healthypawspetinsurance.com/Images/V3/DogAndPuppyInsurance/Dog_CTA_Desktop_HeroImage.jpg");
  margin: 10px 20px;
  font-family: Arial;
}
.dd{
	background-image:url("https://i.ytimg.com/vi/wRx3Uvcktm8/maxresdefault.jpg");
  margin: 10px 20px;
  font-family: Arial;
};